/*	 Freya Colors	 */
:root {
  --freya_dark_green: #70B62D;
  --freya_light_green: #A2CA6F;
  --freya_dark_blue: #00A29A;
  --freya_light_blue: #92D4F2;
  --freya_dark_grey: #6D7279;
  --freya_light_grey: #e1e2e4;
  --freya_black: #292d2b;

  --nr-theme-primary: var(--freya_dark_green); /* Freya green */
}

/* Minimalist Freya Theme: overrides editor header logo & header bar */
#red-ui-header {
  background-color: var(--freya_black);
  border-bottom: 2px solid var(--freya_dark_green);
}
#red-ui-header .red-ui-header-logo {
  background: url('/Freya_logo_light.png') no-repeat left center;
  background-size: contain;
  width: 150px;
  height: 31px;
}

/* Hide the NodeRED logo */
#red-ui-header .red-ui-header-logo a {
    display: none;
}

#red-ui-header .red-ui-deploy-button {
    background: var(--freya_dark_green);
    font-weight: bold;
}